version: '3.8'
services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    environment:
       POSTGRES_USER: ${POSTGRES_USER}
       POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
       POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:latest
    restart: unless-stopped
    ports:
      - "6379:6379"

  server:
    build: ./server
    depends_on:
      - postgres
      - redis
    environment:
      DATABASE_URL: ${DATABASE_URL}
      DIRECT_URL: ${DIRECT_URL}
      REDIS_URL: ${REDIS_URL}
      NODE_ENV: ${NODE_ENV}
      JWT_SECRET: ${JWT_SECRET}
    ports:
      - "5050:5050"
  client:
   build:
    context: ./Frontend
    args:
      VITE_API_BASE_URL: ${VITE_API_BASE_URL}
   environment:
    NODE_ENV: ${NODE_ENV}
   depends_on:
    - server
   ports:  
    - "3000:80"


volumes:
  pgdata:
